.sidebarOuter {
  border: solid 1px #f6f6f6;
  padding: 15px;
}
.sidebarOuter ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.sidebarOuter ul li a {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: solid 1px #f6f6f6;
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 0px 15px 15px;
  cursor: pointer;
  color: #282828;
  text-decoration: none;
}
.activeLi {
  background: #3749d6;
  color: #fff !important;
}
.mt50 {
  margin-top: 50px !important;
}
.formOuter {
  border: solid 1px #f6f6f6;
  padding: 15px;
  border-radius: 6px;
}
